# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# Virtual environments
.venv/
venv/
env/

# IDEs
.vscode/
.idea/

# Streamlit cache
.streamlit/

# TensorBoard
logs/

# Keras Tuner (artefatos temporários)
tuner/

# Python cache
.pytest_cache/
.cache/

# Sistema
.DS_Store
Thumbs.db
